/*Q1. set font family "Courier New" to entire documents?*/

* {
    font-family:Courier New;
}
/* use always universal selector " * " for entire documents */
h1 {
    color: #1b74e4;
}
#searchbtn {
    background-color: black;
    color: white;
}
.userbtn {
    background-color: aqua;
}
/* button[class="userbtn"] {
    background-color: aqua;
}
*/