#container {
    height: 600px;
    width: 80%;
    background-color: white;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center; /* yah same justify-content ki trah hi kaam krta hai content ko set krne k liye but yah cross axis ke 
    relative krta hai yaani justify maine axis pr or align item cross axis pr krega === yha humne dekha ki main axis row hai
    jab humne align-content: center; kiya to yah vertically top to right cross axis ke according center hua hai*/

    /* Align-content all property
      align-content: felx-start/ flex-end / center
      align-content: space-between/ space-around/ evenly
      align-content: baseline*/
}

h1 {
    text-align: center;
}

#container div {
    height: 100px; 
    width: 300px;
    background-color: aliceblue;
    text-align: center;
    font-size: 1.5em;
}
/* iska use indivisual content ko coss-axis ke ralative set krne ke liye kiya jata hai 
#orange {
    align-self: flex-end;
}
    */