#container {
    height: 600px;
    width: 80%;
    background-color: white;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
   /* flex-wrap: wrap;*/
    align-items: baseline; /* align item baseline karne se box k ander jo bhi items yaani text hai sab k sab ek base line 
    yaani same level par aa gye*/
    /* baseline karne se priorty hamesa content ko milti na ki div box ko ---content k according sab ek height level pr aaynge*/
}

h1 {
    text-align: center;
}

#container div {
    height: 100px; 
    width: 300px;
    background-color: aliceblue;
    text-align: center;
    font-size: 1.5em;
}