/* flex-wrap == conetent ki actual size k according unhe adjust krna
  flex-wrap: nowrap; isme kuch nhi hoga by default yhi hota hai 
  flex-wrap: wrap; iske apply krne se content size k according adjust honge
  flex-wrap: wrap-reverse; */

#container {
    height: 300px;
    width: 80%;
    background-color: white;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap; /* flex wrap ka use basically content ki jitni size hai width or height uske same size per container me set krna
    yaani agar ek line me saare nhi bi aa rhe to agli line me chle jaaye but size same rhe jaise ki humne div ki width 300px li to
    ek line me saare ke saare aane possible nhi the to agle line chle gye baaki k but size compressed ya strech nhi huyi */
}


h1 {
    text-align: center;
}

#container div {
    height: 100px; 
    width: 300px;
    background-color: aliceblue;
    text-align: center;
    font-size: 1.5em;
}

/* Align-item === iska use bhi items ko flex-start , flex-end or center ki proerty ki trah hi kiya jata hai but cross axis k relative
hota hai yaani ki agr main axis row hai saare item horizontal line me hai to ab agr hum align-item: center krnge to saare item
cross axis yaani vertical top to bottom center honge*/