/* Font style change karne ke liye google font pr jaake vha se code copy krke links ka html file me pase krenge or css me css code*/

h1 {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  /* icons add krne ke liye free google icon ka static icon font vala code copy krke html file me paste krenge or insertering krke 
  jaha bhi vo icon show krna ho page me us section me uska span vala code paste kr denge*/
  
  