/* relative unit hamesa parent k according % me change hoti hai */
h1 {
    border: 2px solid black;
    width: 50%;
}

#outer {
    height: 400px;
    width: 400px;
    background-color: yellow;
    margin: 50px;
    border: solid black;
}

#inner {
    height: 100px;
    width: 100px;
    background-color: red;
    margin-left: 10%;
}