.box {
    height: 100px;
    width: 300px;
    background-color: pink;

    animation-name: coloranimation; /* iski jgah allanimation karte hi saare animation ek sath apply honge*/
    /*animation-name: widthanimation;
    animation-name: fontanimation;*/ /* yaha humne widthani or fontani ko commentout esliye kiya kyuki ek time pr ek hi animation working*/
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0; /* yaani kitni der se suru hoga jaise 2sec late suru*/
    animation-iteration-count: 3; /* kitni baar repeat krvana hai ese hum infinite bhi kar skte hai jisse ye krta hi rhega*/
    animation-direction: normal; /* isko hum normal*/

    /*" animation: fontanimation 2s liner 3s infinite normal; " this is short hand to write animation*/
}

@keyframes fontanimation {
    from { 
     font-size: 20px;
 }
     to { 
         font-size: 40px;
     }
 }

@keyframes widthanimation {
    from {
        width: 10px;
    }
    to {
        width: 200px;
    }
}

@keyframes coloranimation {
    from {
        background-color: green;
    }
    to {
        background-color: aqua;
    }
}

/* aaise hi hum or bhi animation lga skte hai different differnent properties k liye*/

/* VERY VERY IMPORTANT== ek sath sabhi animation dekhne k liye ek sath saare apply krne ke liye */

@keyframes allanimation {
from {
    width: 10px;
    background-color: green;
    font-size: 20px;
  }
    to {
        width: 200px;
        background-color: aqua;
         font-size: 40px;
     }
 }

 /* yeh jab hame % me animation chiaye hota hai alag alag stage par tb use krte hai*/

 /* @keyframes coloranimation {
   0% {
      background-color: yellow;
     }
   50% {
     background-color: pink;
    }
   80% {
      background-color: green;
   }
    100% {
      background-color: black
   }
}
   */