/* Media Query basically website ko responsive banane ke liye use ki jaati hai jisme hum screen ki size width height ki condition
dekar alag alag device k according website page ko fit kr skte hai*/

h1 {
    background-color: yellow;
    border: 2px solid black;
}

@media (width: 400px) {
    h1 {
        background-color: red;
    }
    div {
        background-color: blue;
    }
}
/* iska matlab ye hai ki media query me codition di gyi hai ki jab bhi width ki size fix 400px hogi to h1 ka background color change 
ho jaaye yellow or div dikhe sath me jiska color blue ho...jab hum inspect krke width ko decrease krke 400px kr denge to hum bg me 
red color change dkhenge fix 400px pr hi hoga*/

@media (min-width: 500px) {
    h1 {
        background-color: blue;
        color: white;
    }
}
/* isme condition ye hai ki jaise hi minimum width ki size 500px hogi ya usse jyada ho bg color blue or text color white ho jayega 
or aage tk vhi rhega*/

@media (max-width: 300px) {
    h1 {
        background-color: pink; /* try to check in inspect increase and decrease the width*/
        color: black;
    }
}
/* condition ye hai ki maximum 300px width tk ho ya usse km ho to bg color pink or text-color black rhega usse uper jaate hi change*/

/* IMP== Range set karne ke liye jaise width= 600 - 800px ke beech me ho to h1 ka bg color greenyellow ho jayega*/

@media (min-width: 600px) and (max-width: 800px) {
    h1 {
        background-color: greenyellow
    }
}

/* orientiation media query===condition - jab screen lamdscape mode me ho jaye to h1 ka bg color=brown or text color=yellow ho jaye*/

@media (orientation: landscape) {
    h1 {
        background-color: brown;
        color: yellow;
    }
}