.card {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px; /* dono card k becch gap dene k liye */
    border-radius: 5px; /* card ko charo traf se curved shape dene k liye */
    box-shadow: 2px 2px 8px black; /* cards ko shadow dene k liye 2px X-Y direction m or 8px blur or color shadow black*/
    transition: 1s; 
}

.discription {
    padding: 0 2px 0 2px; /* padding ka use krke jo text likhe hai unhe set kr diya left or right m 2px bottom-top 0,0 */
}

img {
  width: 200px;
  height:110px;
  border-radius: 5px 5px 0 0; /* img ki radius bhi set kr dennge 5px top-left than 5px top-right aage bottom right or left me jrurat
  nahi hai karne ki kyuki image bs top right left me border line se thodi bahr nikli dikhayi de rhi hai*/
}

.card:hover {
      box-shadow: 4px 4px 16px rgb(238, 190, 99) /* yaha hame double kr diye hover effect me px jisse card per hover krte hi uper ki or uthha
      hua dikhayi de just double krne pr sath me color bhi hamne black se yellow type m change kr diya ise black bhi rhne de skte
      hai uper transition bhi set kr di or acha bnane k liye 1sec ki*/
}