/* Alpha channel set the opacity of rgb colors between 0-1 range - pr not visible or 1- pr full opacity visible  */
div {
    height: 200px;
    width: 200px;
    background-color: rgba(0, 255, 17, 0.2); /* hax color code k liye #ff4d00(a1)- yha a1 opacity hai hax color me range- 00 to ff 
    00- means not visible, ff- means full opacity */
}
/* yaha humne rgb me red color ki alpha value (opacity) 0.5 rakhi hai jisse ye halka red or trasnparent lg rha hai */

/* OPACITY - yah apne aap me ek property hai jo ki agr kisi poore element pr apply ki to element me jitne bhi alag alg content
honge sab pr ek sath apply hogi yaani maan ke chaliye - div- h1 (div k ander h1 hai ) agr hum div pr opacity property km jyada 
krenge to h1 ki bhi sath hogi */

#div2 {
    height: 200px;
    width: 200px;
    background-color: #27f403;
    opacity: 0.2;
}
/* yaha hum clearly dekh skte hai uper div vale element me hum jab background color ki opacity rgba me kam 0.2 kr rhe hai to 
sirf background color hi fika dikhayi de rha hai heading1 pr koi frak nhi pd rha but #opacity vali div me jab humne direct
opacity apply ki to poore div2 ka background color or heading 2 bhi halke transparent lucent dikh rhe hai*/