.main {
    height: 200px;
    width: 200px;
    background-color: rgb(241, 175, 87);
    border-radius: 50%;
}

.eye {
    height: 20px;
    width: 20px;
    display: inline-block;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 70px;
    left: 60px
}

#righteye {
    position: absolute;
    top: 70px;
    left: 130px;
}

.mouth {
  width: 80px; 
  height: 30px; 
  background-color: brown;
  border-radius: 0 0 20px 20px;
  position: absolute;
  top: 130px;
  left: 65px;
}
/* this is my way to make a smiley face " jugaad method ka use krke same bna diya*/


